<div class="row">
  <div class="col-sm-2 col-md-2" ng-repeat="event in events">
    <div class="thumbnail">
      <img src="{{event.image}}" alt="event.name" style="height:200px">
      <div class="caption">
        <p>Borrower: </p>
        <p>{{event.intrID}}</p>
        <p><a class="btn btn-primary btn-block" role="button" ng-click="accept(event)" ng-show="event.status==1">Accept</a></p>
        <p><a class="btn btn-success btn-block" role="button" ng-show="event.status==2">Return</a></p>
      </div>
    </div>
  </div>
</div>
