<div ng-controller="ManageBooksCtrl">
  <div class="row">
    <div class="col-md-10 pull-left">
      <a ui-sref="manage.newBook" type="submit" class="btn btn-success">New</a>
      <button type="submit" class="btn btn-danger" ng-click="deleteAllBooks()">Delete</button>
      <table class="table table-striped table-hover" style="font-size: 16px">
        <thead>
          <th><input type="checkbox" /></th>
          <th>Name</th>
          <th>Like</th>
          <th>Comment</th>
          <th>Free</th>
        </thead>
        <tr ng-repeat="book in books">
          <th><input type="checkbox" /><th>
          <th>{{book.name}}</th>
          <th>{{book.likeNum}}</th>
          <th>{{book.commentNum}}</th>
          <th>{{book.isFree}}</th>
          <th><a href="#/manage/{{book._id}}">Detail</a></th>
        </tr>
      </table>
    </div>
  </div>
</div>
