<div id="Profile">
  <div id="userProfile">
    <h3>Profile</h3>
    <a href="../images/pic/head.jpg" id="userProfileImage" target="_blank">
      <img src="../images/pic/head.jpg">
    </a>
    <div class="userInfo">
      <h2 id="userName">{{logInUser.name}}</h2>
      <h2 id="userEmail">{{logInUser.intrID}}</h2>
      <h2 id="userEmail">{{logInUser.phoneNum}}</h2>
      <ul class="profileLinks">
        <li>
          <a href="">
            <span>{{borrowedBooks.length}}</span> Borrows
          </a>
        </li>
        <li>
          <a href="">
            <span>{{likedBooks.length}}</span> Likes
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="borrowedDiv">
    <h3>Books Borrowed</h3>
    <div masonry>
      <div class="masonry-brick" ng-repeat="book in borrowedBooks">
        <a href="#/book/{{book.isbn}}">
          <img ng-src="{{book.image}}" />
        </a>
      </div>
    </div>
  </div>
  <div id="likedDiv">
    <h3>Books Liked</h3>
    <div masonry>
      <div class="masonry-brick" ng-repeat="book in likedBooks">
        <a href="#/book/{{book.isbn}}">
          <img ng-src="{{book.image}}" />
        </a>
      </div>
    </div>
  </div>
</div>
