 
  
  <div ng-controller="login">
   <form novalidate class="styled-form" id="login" action="/logining" method="post" autocomplete="on">
     <h1>---  Log In  ---</h1>
   <fieldset class="inputs">
        <input class="intranetID" type="email" placeholder="IntranetID" autofocus required/>
        <input class="password" type="password" placeholder="Password" required/>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Log in"/>
        <a href="">Forgot your password?</a><a href="register.html">Register</a>
		  <p id="err"></p>
    </fieldset>
   </form>
    <script type="text/javascript">
    function setErr(){
      var err = "<%=errorMess %>";
      document.getElementById('err').innerHTML = err;
    }
    setErr();
   </script>
</div>
