<!-- Header -->
<header id="Header">
  <a ui-sref="main.list" id="logo"></a>
  <ul class="list-inline pull-right" style="margin-top: 30px; margin-right: 50px">
    <li ng-show="!logInUser.name">
      <a ui-sref="register">Sign up</a>
    </li>
    <li ng-show="!logInUser.name">
      <a ui-sref="login">Sign in</a>
    </li>
    <li ng-show="logInUser.name">
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="cursor:pointer">
          {{logInUser.name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a ui-sref="main.home">Home</a></li>
          <li><a ui-sref="main.home">I liked</a></li>
          <li><a ui-sref="main.home">I borrowed</a></li>
          <li role="separator" class="divider"></li>
          <li><a ui-sref="main.setting" ng-click="callRestricted()">Setting</a></li>
          <li><a ui-sref="main.list" ng-click="logOut()">Logout</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div>
        <a style="cursor:pointer">Search<em></em></a>
      </div>
    </li>
  </ul>
</header>
<!-- Page -->
<section>
  <div id="wrapper">
    <div id="ColumnContainer">
      <div id="SideColumn">
        <h3>Show</h3>
        <ul class="nav menu">
          <li><a ng-click="status=1" ui-sref="main.list">All</a></li>
        </ul>
        <!-- <span class="line"></span> -->
        <h3 ng-show="false">User</h3>
        <h3 ng-show="false">{{logInUser.name}}</h3>
        <ul class="nav menu" ng-show="false">
          <li><a ui-sref="register">Sign up</a></li>
          <li><a ui-sref="login">Log in</a></li>
        </ul>
        <ul class="nav menu" ng-show="false">
          <li><a ng-click="status=4" ui-sref="main.home">Home</a></li>
          <li><a ng-click="status=5" ng-show="false" ui-sref="main.setting" ng-click="callRestricted()">Setting</a></li>
          <li><a ng-click="status=6" ui-sref="main.liked">I Liked</a></li>
          <li><a ng-click="status=7" ui-sref="main.mybooks">I Borrowed</a></li>
          <li><a ui-sref="main.list" ng-click="logOut()">Log out</a></li>
        </ul>
      </div>
      <div ui-view></div>
    </div>
  </div>
</section>
