   <div ng-controller="register">
   <form class="styled-form" id="register" action="/register" method="post">
     <h1>---  Register  ---</h1>
   <fieldset class="inputs">
        <input class="username" type="text" placeholder="Username" autofocus required>
        <input class="intranetid" type="text" placeholder="IntranetID" autofocus required>
        <input class="password" type="password" placeholder="Password" required>
        <input class="phonenumber" type="phonenumber" placeholder="phonenumber" required>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="register">
    </fieldset>
   </form>
   </div>